@import "tailwindcss";

@layer components {
    .header {
        background: url('../img/background.jpg');
        background-size: cover;
        /* background-position: center; */
    }

    .menu__item {
        transition: .3s;
    }

    .menu__item:hover {
        color: gray;
        cursor: pointer;
    }

    .gallery {
        display: flex;
    }

    .gallery__item {
        flex: 1 1 200px;
        position: relative;
    }

    .gallery__item img {
        width: 100%;
        height: 30vh;
        object-fit: cover;
        transition: .3s;
    }

    .gallery__item:hover img {
        filter: brightness(40%);
        cursor: pointer;
    }

    .gallery__item p {
        position: absolute;
        z-index: 10;
        bottom: 5%;
        left: 10%;
        font-size: 1.7rem;
        font-weight: 600;
    }

    @media screen and (min-width: 850px) {
        .gallery__item img {
            height: 70vh;
        }

        .gallery__item p {
            bottom: 40%;
        }
    }

    .animated {
        animation-name: animated;
        animation-duration: 1s;
        animation-fill-mode: both;
    }

    @keyframes animated {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .gallery__item {
        opacity: 0;
        transition: 3s;
    }

    .gallery-animate {
        opacity: 1;
    }

    .gallery__item:nth-child(1), .gallery__item:nth-child(3) {
        transform: translate(50px, 0);
    }

    .gallery__item:nth-child(2), .gallery__item:nth-child(4) {
        transform: translate(100px, 0);
    }

    .gallery-animate:nth-child(1), .gallery-animate:nth-child(3){
        opacity: 1;
        transform: translate(0, 0);

    }
    .gallery-animate:nth-child(2), .gallery-animate:nth-child(4){
        transform: translate(0, 0);
    }

    @media screen and (min-width: 1024px) {
        .gallery__item:nth-child(1), .gallery__item:nth-child(3) {
            transform: translate(0, -100px);
        }

        .gallery__item:nth-child(2), .gallery__item:nth-child(4) {
            transform: translate(0, 100px);
        }

        .gallery-animate:nth-child(1), .gallery-animate:nth-child(3){
            transform: translate(0, 0);

        }
        .gallery-animate:nth-child(2), .gallery-animate:nth-child(4){
            transform: translate(0, 0);
        }
    }

    .gallery-none {
        display: none;
    }

    #line {
        display: none;
    }
    /* .collection {
        width: 100%;
    }

    .collection img {
        width: 100%;
        object-fit: contain;
    } */
}